@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #e89650;
    left: 0;
    z-index: 1000;
    text-transform: uppercase;
}
.Header-paper-23{
    color:#fff !important;
    font-family: 'Yrsa', sans-serif;
    text-transform: uppercase;
}
.center-header{
    text-align: center;
}
.marginButton40px{
    margin-bottom: 40px;
}
.jss23,.jss311 {
    color:#fff !important;
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding: 0px !important;
}
.txt-new-founder{
    padding-top: 25px;
    padding-left: 10px;
    font-weight: bold;
    color: #a8a8a8;
}
