.form-control{
    display: block;
    padding:10px;
    width: 95%;
    margin-bottom: 10px;
}
.btn-primary{
    color: #fff;
    background-color: #3f51b5;
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #4658bb;
    font-size: 16pt;
    cursor: pointer;
}
