@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
*{
  font-family: 'Prompt', sans-serif; 
}
body {
  background: #e9ebee;
  overflow-x: hidden;
}
.content{
  margin-top: 90px;
}
.MuiCardContent-root {
  padding: 10px;
}
.MuiFab-root:hover {
  background-color: #ffffff;
}
.Header-paper-17,.Header-paper-18,.Header-paper-19,.Header-paper-20 {
  color:#fff !important;
}
.MuiGrid-spacing-xs-3 {
  margin: 0px;
}
.Header-paper-15{color:#fff !important;}
.MuiTabs-indicator {
  background: #f7b733 !important;
}
