body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #dcdcdc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.content{
  margin-top: 90px;
}
.MuiCardContent-root {
  padding: 10px;
}
.MuiFab-root:hover {
  background-color: #ffffff;
}
.Header-paper-17 {
  color:#fff !important;
}